@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Roboto:wght@100;400&display=swap');

button {
font-size: 4rem;
background-color: blue;
color: yellow;
text-shadow: 2px 2px 5px black;
}

.category {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    height: 2em;
    width: 400px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.btnOk {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    height: 2em;
    width: 70px;
    background-color: white;
    color: black;
    text-shadow: none;

}

.question {
    font-family: 'Oswald', sans-serif;
    height: 3em;
    width: 400px;
}

.modal-body {
    font-size: 4rem;
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.modal-body-points {
    font-size: 2rem;
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.modal-body-answer {
    color: white;
}

.modal-header {
    visibility: hidden;
}

.clr1 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}
.clr1 :visited {
    background-color: red;
    color: red;
    text-shadow: none;
}

.clr2 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr3 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr4 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr5 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr6 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr7 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr8 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr9 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr10 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr11 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr12 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr13 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr14 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr15 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr16 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr17 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr18 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr19 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr20 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr21 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr22 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr23 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr24 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.clr25 {
    background-color: blue;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.formatForButton {
    background-color: red;
}

